<script>
import {Image, Toast, ToastHeader, ToastBody} from "sveltestrap";
import {
  inputText,
  viewMode,
  contentCopiedToast,
  sharingLinkCopiedToast,
  pageTitle,
  closeToast,
} from "./store";
import PreviewEditCard from "./PreviewEditCard.svelte";
import FillTheMatchesCard from "./FillTheMatchesCard.svelte";
import ResultCard from "./ResultCard.svelte";

// The matches to fill and replace and the pattern to recognize them
const MATCHING_PATTERN = ["{{", "}}"],
  MATCHING_REGEXP = new RegExp(`${MATCHING_PATTERN[0]}(.*?)${MATCHING_PATTERN[1]}`, "g");

/**
 * Compute the field keys from the inputText, and store them in fieldsValues
 * @param inputText
 * @returns fieldsValues the keys to be filled
 */
let fieldsValues = []; // The values of the fields replacements given by the user
const getFieldsValuesFromInputText = (inputText) => {
  // Detect all matching strings in the input text and add them to the fields values
  const allMatches = [];
  let match;
  do {
    match = MATCHING_REGEXP.exec(inputText);
    if (match) allMatches.push(match[1]);
  } while (match);

  // Add the new matches
  allMatches.forEach((match) => {
    // If not present already, add the field
    if (!fieldsValues.find((field) => field.key === match)) {
      fieldsValues.push({key: match, value: ""});
    }
  });

  // Remove the ones that are not in the input text anymore
  return fieldsValues.filter((field) => allMatches.includes(field.key));
};
$: fieldsValues = getFieldsValuesFromInputText($inputText);

/**
 * Creates the final outputText from the inputText and the values filled by the user
 * @param inputText
 * @param fieldsValues
 */
const makeFinalText = (inputText, fieldsValues) => {
  // Replace all the occurences one by one
  let tempText = inputText;
  fieldsValues.forEach((field) => {
    tempText = tempText.replaceAll(
      `${MATCHING_PATTERN[0]}${field.key}${MATCHING_PATTERN[1]}`,
      field.value
    );
  });
  return tempText;
};
$: finalText = makeFinalText($inputText, fieldsValues);

/**
 * Update the tab title, to match with the model name
 */
$: document.title = $pageTitle || "Modèle sans nom";
</script>

<main class="content d-flex flex-column mt-5 gap-3">
  <h1>{$pageTitle}</h1>

  {#if $viewMode !== "fill"}
    <PreviewEditCard />
  {:else if $inputText.length > 0}
    {#if fieldsValues.length > 0}
      <FillTheMatchesCard bind:fieldsValues />
    {/if}
    <ResultCard {finalText} />
  {/if}

  <!-- Page footer -->
  <div class="text-center pt-5 opacity-75">
    <p>
      Un bug ? 🤔 Une suggestion ? 💡
      <br />
      Envoyez un email à
      <a href="mailto:informatique@alternatiba.eu"> informatique@alternatiba.eu </a> 😊
    </p>
    <div class="mt-5">
      Fait avec amour par
      <a href="https://alternatiba.eu/">
        <Image
          src="https://alternatiba.eu/wp-content/uploads/2019/02/logo-alternatiba-base-blanc.png"
          width="80"
          alt="Alternatiba"
          style="filter: invert(1)" />
      </a>
      et
      <a href="https://anv-cop21.org/">
        <Image
          src="https://anv-cop21.org/wp-content/uploads/2021/10/logo_anv_blanc.png"
          width="80"
          alt="ANV-COP21"
          style="filter: invert(1)" />
      </a>
    </div>
    <div class="mt-5">
      <a href="https://framagit.org/alternatiba/remplisseur-de-nimporte-quoi">Code source</a>
    </div>
  </div>

  <!-- Additional height so it's more ux friendly -->
  <div class="d-print-none" style="height: 300px" />
</main>

<!-- TOAST NOTIFICATIONS for either sharing link copied or content copied -->
<Toast
  class="m-3 position-fixed"
  style="bottom: 0; right: 0; max-width: calc(100% - 2rem); z-index: 10000"
  autohide
  delay={20000}
  isOpen={$sharingLinkCopiedToast || $contentCopiedToast}
  on:close={closeToast}>
  <ToastHeader icon="success" toggle={closeToast}>
    {#if $sharingLinkCopiedToast} Lien {:else} Contenu {/if}
    copié avec succès !
  </ToastHeader>
  {#if $sharingLinkCopiedToast}
    <ToastBody>
      <strong class="text-danger"> Attention : </strong>ce site web ne garde rien en mémoire du
      tout: une fois que tu quittes la page, tout est effacé. Donc à toi de copier ton modèle
      autre-part, en lieu sûr. :)
    </ToastBody>
  {/if}
</Toast>
