<script>
import {FormGroup, Label, Input, Alert, Button, Icon} from "sveltestrap";
import {viewMode, inputTextIsHtml} from "./store";
import Card from "./Card.svelte";

export let fieldsValues;
</script>

<Card>
  <Alert fade={false} color="primary">
    Tu peux maintenant <strong>remplir les trous du modèle</strong> avec tes informations. Tu verras
    les modifications apparaître en direct dans l'encart <a href="#result">Résultat</a>
    juste en dessous.
  </Alert>
  <Button outline size="sm" on:click={() => ($viewMode = "preview")}>
    <Icon name="eye" />
    Revenir en arrière
  </Button>
  {#each fieldsValues as fieldsValue}
    <FormGroup>
      <Label for="input{fieldsValues.key}">{fieldsValue.key} :</Label>
      <Input
        id="input{fieldsValues.key}"
        class={$inputTextIsHtml ? "font-monospace" : ""}
        type="textarea"
        style="height: 0"
        bind:value={fieldsValue.value} />
    </FormGroup>
  {/each}
</Card>
