/* BROWSER UPDATE NOTIFICATION */
.buorg {
  border-bottom: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.buorg-pad {
  padding: 20px !important;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.35) !important;
  background-color: #f0f0f0 !important;
  width: 1008px !important;
  max-width: 98.3% !important;
  margin: auto !important;
}

#buorgig {
  background-color: #dea44c !important;
}

.buorg-icon {
  display: none !important;
}

/* PAGE LAYOUT */
body {
  background-color: #f1f4f6;
}

.content {
  width: 1000px;
  max-width: 96%;
  align-self: center;
  margin: auto;
}

.paper {
  padding: calc(1rem + 3%);
  border-radius: 0.25rem;
  background-color: white;
}