<script>
import {FormGroup, Label, Input, Alert, Button, Icon} from "sveltestrap";
import {viewMode, inputText, inputTextIsHtml, sharingLinkCopiedToast, title} from "./store";
import Card from "./Card.svelte";
import TextPreview from "./TextPreview.svelte";

/**
 * Keep the current URL always synchronized with the whole page data
 */
$: fullUrl =
  window.location.origin +
  `/?title=${encodeURIComponent($title)}` +
  `&inputText=${encodeURIComponent($inputText)}` +
  `&inputTextIsHtml=${$inputTextIsHtml}`;
$: history.pushState({}, null, fullUrl);

const saveSharingLinkToClipboard = () => {
  navigator.clipboard.writeText(fullUrl);
  $sharingLinkCopiedToast = true;
};
</script>

<Card>
  <!-- Info Alert -->
  <Alert fade={false} color="primary">
    {#if $viewMode === "edit"}
      <p>
        Ici, tu peux <strong>copier et éditer ton texte à trous</strong>, avec des doubles accolades
        pour désigner les champs que tu veux remplir. Par exemple :
      </p>

      <p class="{$inputTextIsHtml ? 'font-monospace' : ''} fst-italic">
        {"Je m'appelle {{Prénom}} et je viens de {{Ville}}."}
      </p>

      <p class="mb-0">Si tu crées un modèle en HTML, n'oublie pas de cocher la case dédiée !</p>
    {:else}
      Voici un modèle à trous que l'on t'a partagé. Il te suffit de <strong
        >cliquer sur "Remplir mes informations"</strong> pour remplir les trous et créer ton propre modèle.
    {/if}
  </Alert>

  <!-- Edition: title and model content -->
  {#if $viewMode === "edit"}
    <FormGroup>
      <Label for="inputText">Titre :</Label>
      <Input id="inputText" type="text" bind:value={$title} />
    </FormGroup>

    <FormGroup>
      <Label for="inputText">Ton texte à trous :</Label>
      <Input
        id="inputText"
        type="textarea"
        class={$inputTextIsHtml ? "font-monospace" : ""}
        bind:value={$inputText} />

      <Input
        type="checkbox"
        class="mt-2"
        label="C'est du code HTML"
        bind:checked={$inputTextIsHtml} />
    </FormGroup>
  {/if}

  <!-- Preview -->
  {#if $inputText.length > 0}
    <TextPreview
      bind:text={$inputText}
      label="Aperçu"
      displayAsHtml={$inputTextIsHtml}
      prettifyRaw />
  {/if}

  <!-- Buttons -->

  {#if $viewMode === "preview"}
    <Button color="primary" on:click={() => ($viewMode = "fill")}>
      <Icon name="pencil" />
      Remplir mes informations
    </Button>
  {/if}
  <div class="d-flex flex-wrap justify-content-center gap-3">
    <!-- Preview / Edit mode toggle button -->
    {#if $viewMode === "edit"}
      <Button size="sm" color="primary" link outline on:click={() => ($viewMode = "preview")}>
        <Icon name="eye" />
        Prévisualiser
      </Button>
    {:else}
      <Button outline size="sm" on:click={() => ($viewMode = "edit")}>Modifier le modèle</Button>
    {/if}

    <!-- Copy to clipboard button -->
    <Button outline size="sm" color="primary" on:click={saveSharingLinkToClipboard}>
      <Icon name="clipboard" />
      Copier le lien de partage
    </Button>
  </div>
</Card>
