<script>
import {inputTextIsHtml, contentCopiedToast} from "./store";
import Card from "./Card.svelte";
import TextPreview from "./TextPreview.svelte";

export let finalText;
/**
 * Clipboard stuff: sharing link / content
 */
const saveContentToClipboard = (content) => {
  navigator.clipboard.writeText(content);
  $contentCopiedToast = true;
};
</script>

<Card>
  <div id="result">
    <h2>Résultat</h2>

    <!-- HTML Output Preview -->
    <TextPreview
      bind:text={finalText}
      label="HTML"
      onCopy={saveContentToClipboard}
      displayAsHtml={$inputTextIsHtml}
      prettifyRaw />

    <!-- Raw text output -->
    <TextPreview
      bind:text={finalText}
      label="Texte brut"
      onCopy={saveContentToClipboard}
      displayAsHtml={false} />
  </div>
</Card>
