<script>
import {FormGroup, Label, Card, Button, Icon} from "sveltestrap";

export let text, label, onCopy;
export let displayAsHtml;
export let prettifyRaw; // Prettify the raw inputs

$: htmlText = text.replace();

$: textLines = text?.split(/\r\n|\n/g);

$: textRawPrettifiedLinesForDisplay = textLines?.filter(
  (text) => !/^([\s\r\n]|[\s\n])*$/.exec(text)
); // Remove extra line breaks

$: textRawPrettifiedLinesForCopy = textRawPrettifiedLinesForDisplay
  .map((text) => `<p>${text}</p>`)
  .join("");
</script>

<FormGroup>
  <Label class="d-flex justify-content-between align-items-center flex-wrap">
    {label} :

    <!-- don't display the copy button for prettified HTML code if the source code is already HTML -->
    {#if !(displayAsHtml && prettifyRaw) && onCopy}
      <!-- Copy to clipboard button -->
      <Button
        size="sm"
        outline
        color="primary"
        on:click={() => onCopy(prettifyRaw ? textRawPrettifiedLinesForCopy : text)}>
        <Icon name="clipboard" />
        {#if !displayAsHtml && prettifyRaw}
          Copier le code HTML
        {:else}
          Copier le texte brut
        {/if}
      </Button>
    {/if}
  </Label>

  <Card body class="d-block {!displayAsHtml && !prettifyRaw && 'font-monospace'}">
    {#if displayAsHtml}
      <!-- Display as HTML -->
      {@html text}
    {:else if textLines.length > 0}
      {#if prettifyRaw}
        <!-- Display raw, but pretty and with escaped HTML -->
        {#each textRawPrettifiedLinesForDisplay as line}
          <p>{line}</p>
        {/each}
      {:else}
        <!-- Display raw, with escaped HTML -->
        {#each textLines as line}
          {line}<br />
        {/each}
      {/if}
    {/if}
  </Card>
</FormGroup>
